.root {
  // background: red;
}

header {
  padding: 40px 0;

  .pages {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-list-page {
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    .product-card {
      border: 1px solid #ccc;
      border-radius: 3px;
      max-width: 200px;
      cursor: pointer;
      text-decoration: none;
      color: #666666;

      .header {
      }

      .info {
        padding: 20px;
        width: 100%;

        .name {
          width: 100%;
        }
      }

      .price {
        font-size: 18px;
        font-family: sans-serif;
      }
    }
  }
}

.product-detail-page {
  .container {
    display: flex;
    gap: 20px;
  }

  .tab-container {
    width: 100%;

    .tabs-list {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      .tab-btn {
        flex: 1;
        text-decoration: unset;

        &.active {
          text-decoration: underline;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .rating {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
        }
      }

      .price {
        font-size: 18px;
        font-weight: bold;
      }

      .date {
        font-style: italic;
        font-size: 14px;
      }
    }

    .comments {
      .add-new-comment {
        // border: 1px solid #ccc;
        margin-bottom: 40px;

        .floatingTextarea {
          font-size: 16px;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        max-height: 500px;
        overflow-y: scroll;

        .comment {
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 10px;

          .user {
            font-weight: bold;
            font-style: italic;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.general-rating {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 20px;

  .info-message,
  .totalCommentCount,
  .count {
    color: #999;
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.auth-page {
  .container {
  }
}
